#banner {
  padding-left: 40px;
  text-align: left;
  color: hotpink;
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

#nav_bar {
  position: relative;
  margin-top: 100px;
}

#main_content {
  width: 960px;
  margin: auto;
  text-align: center;

}

#main_content .caption {
  color: hotpink;
}

#main_content .location_description {
  color: hotpink;
}

img {
  max-width: 100%;
  max-height: 600px;
}

a {
    color: black;
    font-family: 'Cabin', serif;
    font-size: x-large;
}

h1 {
  font-family: 'Lobster', serif;

}

p{
  font-family: 'Cabin', serif;
  font-size: large;
}
